body {background-color: rgb(89, 97, 97);}
#form-container, #messages-container { display: block;
width: auto;
justify-content: center;
align-content: center;
align-self: center;
padding-left: 2%;
padding-bottom: 2%;
background-color: rgb(146, 128, 224);}

#form {display: flex;
flex-direction: column;
width: 40%;
gap: 16px;}


#send {background-color: rgb(110, 110, 129);
font-weight: bold;
transition: transform 1s;}
#send:hover {
    box-shadow: inset;
    background-color: aliceblue;
    transform: scale(0.95);
}
